<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up for CodeFellowship</title>
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h2>Sign Up</h2>
    <form action="/users" method="POST">
        <label for="username">User Name</label><input id="username" name="username" /></br>
        <label for="password">Password</label><input id="password" type="password" name="password" /></br>
        <label for="firstname">First Name</label><input id="firstname" name="firstname" /></br>
        <label for="lastname">Last Name</label><input id="lastname" name="lastname" /></br>
        <label for="dateOfBirth">Date of Birth</label><input id="dateOfBirth" name="dateOfBirth" /></br>
        <label for="bio">Bio</label><input id="bio" name="bio" /></br>
        <input type="submit" />
    </form>

</body>
</html>