<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowShip</title>
</head>
<body>
    <div th:replace="fragments/loggedInHeader :: header(principal=${principal})">...</div>
    <h2>Your Profile</h2>
    <img src="../profile.jpg" alt="Profile picture"><br/>
    Username: <span th:text="${user.username}"></span><br/>
    First Name: <span th:text="${user.firstname}"></span><br/>
    Last Name: <span th:text="${user.lastname}"></span><br/>
    Date of Birth: <span th:text="${user.dateOfBirth}"></span><br/>
    Bio: <span th:text="${user.bio}"></span><br/>

    </li>


    <span th:if="${principal}">
        <h3>Posts!</h3>
        <a href="posts/add">create new post</a><br/>
        <span th:if="${hasNoPosts}">
            <span>You have No Post! Create One!</span>
        </span>
        <span th:if="${!hasNoPosts}">
            <div th:replace="fragments/posts :: postsList(posts=${user.posts})"></div>
        </span>
    </span>
</body>
</html>