<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowShip</title>
</head>
<body>
    <h1>CodeFellowShip!</h1>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
    <a href="/logout">Log out</a>
    <h2>Your Profile</h2>
    Username: <span th:text="${user.username}"></span><br/>
    First Name: <span th:text="${user.firstname}"></span><br/>
    Last Name: <span th:text="${user.lastname}"></span><br/>
    Date of Birth: <span th:text="${user.dateOfBirth}"></span><br/>
    Bio: <span th:text="${user.bio}"></span><br/>
</li>
</body>
</html>